 /*
Srchstyle
*/

#wrapper {
	width: 1024px;
	margin: 0px auto;
	/*background: url(images/main_bg.png) no-repeat center top;*/
	background-color:#f4f4f4;
}

#header {
	position: relative;
	background: url(images/main_header_bg.png) no-repeat center top;
	height:150px;
}

#logo{
	padding-top: 24px;
}

/*adding css to menu*/

#menu {
	position: absolute;
    bottom: 0;
	}

#menu ul {
	position:relative;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

#menu ul li{
	float:left;
	padding-left:5px;
	height:40px;
}

a { 
	text-decoration: none;
	font-size: 16px;
	color: #000000;
}

a img
{
  border:none;
}

/*Main page welcoming content*/
#firstPageWelcome{
	background-image: url("./images/welcoming.png") ;
	background-repeat:no-repeat;
	height:288px;
	margin-top:20px;
}

#firstPageWelcomeText{
	float:left;
	color:#ffffff;
	margin-top:0px;
	margin-left:50px;
	padding-top:50px;
}

#firstPageWelcomeText p:FIRST-CHILD{
	font-size:20px;
}
#firstPageWelcomeText2{
	color: #ffffff;
	float:right;
	margin-right:110px;
	margin-top: 145px;
}
/*Main page fields*/
.image div{
	float:left;
}
.image {
	background-image:url("images/foe_bc.png");
	background-repeat: no-repeat;
	height:350px;
	margin-left:17px;
}


.image .text ul {
	list-style-type:none;
}
#valdkonnad1{
	margin-top:0px;
}
#valdkonnad1 h2 {
	
	padding-top:10px;
	margin-left:40px;
	color: #BA0606;
	font-size:25px;
}
#valdkonnad2{
	margin-top:30px;
}
#valdkonnad3{
	margin-top:30px;
}
/*Main page fields END*/

/*Catalog Search*/
#catalogSearch select{
	width:155px;
	height:25px;	
}
.column_height{
	height:120px;
}
td.column_height p {
	margin-top:37px;
}
#searching{
	width:155px;
	height:25px;
	margin-right:0px;
}
.catalogCheckbox{
	margin-top:25px;
}
#success{
	margin-top:37px;
}
.page {
	overflow: hidden;
	width: 1024px;
	padding-top: 5px;
	color: #AC1028;
	font-family: Modern;
	padding-top: 20 px;
}


.content {
	/*border: 2px solid #8F9297;*/
	padding: 40px 0px 0px 20px;
}


.content2 {
	padding-left: 16px;
	padding-bottom: 20px;
	height: 300px;
}

.content3 {
	border: 2px solid #8F9297;
	padding-bottom: 40px 0px 0px 20px;
	height: 600px;
}


.text a, .text2 a, .text3 a {
	font-size: 18px;
	display: block;
	font-weight:bold;
}

.image .text {
    width:320px;
	color: #363636;
}

.image .text2 {
    top:25px;
    left:350px;
    width:320px;
	color: #363636;
}

.image .text3 {
    top:25px;
    left:695px;
    width:320px;
	color: #363636;
}

.blog {
	float: left;
	width: 690px;
	height: 300px;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.contacts img {
	margin-top: 40px;
	float: left;
}

.contacts {
	height: 300px;
	width: 300px;
	float: right;
	margin-top: 10px;
	margin-right: 18px;
}

.contacts h2{
	margin-left: 25px;
	color: #BA0606;
	font-size:25px;
}

.contacts p {
	margin-top: -5px;
	padding-left: 25px;
	color: #000000;
	font-size: 16px;
}

/*#success {
	padding-top: 90px;
}*/


#registration_form2{
	font-size: 15px;
	margin: 5px 0px 0px 20px;
	color: #333;
}

#registration_form2 input {
	border: 1px solid #ccc;
	width: 200px;
	display: block;
}

#registration_form2 input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 1px 0px 3px 3px;
  margin: 1px 1px 3px 0px;
  border: 1px solid #ccc;
}

#registration_form2 input:focus, textarea:focus {
  box-shadow: 0 0 5px #ccc;
  padding: 1px 0px 3px 3px;
  margin: 1px 1px 3px 0px;
  border: 1px solid #8F9297;
}

/*#registering {
	margin: 0px 0px 5px 66px;
	width: 100px;
	height: 33px;
}

#registration_form {
	display: inline-block;
  background: #f0f0f0;
  color: #333;
}

#registration_form input {
  margin-bottom: 8px;
}*/
#avgprice {
	position: absolute;
	}

#avgprice input {
	width: 155px;
	margin-left:0px;
}
/*#success_date
{	
	top: 550px;
}*/


output { 
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
  background-image: -webkit-linear-gradient(top, #444444, #999999);
  background-image: -moz-linear-gradient(top, #444444, #999999);
  background-image: -ms-linear-gradient(top, #444444, #999999);
  background-image: -o-linear-gradient(top, #444444, #999999);
  width: 40px; 
  height: 30px; 
  text-align: center; 
  color: white; 
  border-radius: 10px; 
  display: inline-block; 
  font: bold 15px/30px Georgia;
  bottom: 175%;
  left: 35%;
  margin-left: -1%;
}
output:after { 
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #999999;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}
#averageprice output{
	margin-left:35%;
}
fieldset {
border: none;
}

#footer {
	clear: both;
	padding-top: 1px;
	height: 30px;
	width: 1024px;
	font-family: Modern;
	background-color: #ffffff;
}

#footer p {
	font-size: 12px;
	text-transform: uppercase;
	color: #000000;
}

#footer a {
	font-size: 12px;
	color: #000000;
	float: right;
}

/*Login/Registering page*/
#registering{
	background-color:#f0f0f0; 
	width:250px; 
	margin:50px 50px 50px; 
	padding:15px 0px 25px 25px;	
}

#registering input{
	height:25px; 
	width:200px;
}

#registering select {
	height:25px;
	width:205px;
}
input#Registreeru{
	height:25px;
	width:205px;
}


/*login page*/

#login{
	float:left;
	width:250px; 
	padding-left:50px;  
	padding-bottom:20px;  
	margin-top:50px; 
	margin-left:50px;
	margin-right:25px;
	margin-bottom:50px;
	background: #f0f0f0;
}

.loginInput{
	height:25px; 
	width:200px;
}

.loginInputSpecial{
	height:25px;
	width:205px;
	margin-left:0px;
}

#login select{
	
}

#login_container{
	width:225px;
	height:200px;
	margin-top:25px;
	margin-left:auto;
	margin-right:auto;
	border: 1px solid #000;
	border-radius:5px;
}
/*Bureau Profile Page*/

#bureauProfileTable{
	width:800px;
	height:600px;
}

#bureauProfileTable td{
	/*border: 1px solid #000000;*/
}