<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LawPortal</display-name>
  <welcome-file-list>
  	<welcome-file>Main.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <description> Search Servlet </description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Search.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description> Field Search Servlet </description>
    <display-name>FieldSearchServlet</display-name>
    <servlet-name>FieldSearchServlet</servlet-name>
    <servlet-class>Search.FieldSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FieldSearchServlet</servlet-name>
    <url-pattern>/FieldSearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Bureau Registration Servlet</description>
    <display-name>BureauRegistrationServlet</display-name>
    <servlet-name>BureauRegistrationServlet</servlet-name>
    <servlet-class>RegisterLogin.BureauRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BureauRegistrationServlet</servlet-name>
    <url-pattern>/BureauRegistrationServlet</url-pattern>
  </servlet-mapping>
   <servlet>
    <description>Bureau Login Servlet</description>
    <display-name>BureauLoginServlet</display-name>
    <servlet-name>BureauLoginServlet</servlet-name>
    <servlet-class>RegisterLogin.BureauLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BureauLoginServlet</servlet-name>
    <url-pattern>/BureauLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Activation Servlet</description>
    <display-name>ActivationServlet</display-name>
    <servlet-name>ActivationServlet</servlet-name>
    <servlet-class>bureauActivation.ActivationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivationServlet</servlet-name>
    <url-pattern>/ActivationServlet</url-pattern>
  </servlet-mapping>
</web-app>